.text-brand{
    color: #6E81FF;
}
.bg-brand{
    background-color: #6E81FF;
}
.loadingBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, .85);
    display: flex;
    align-items: center;
    justify-content: center;
}